@import 'variables';

header {
	z-index: $headerIndex;
	position: fixed;
	top: 0;
	width: 100%;
	max-width: $bodyMaxWidth;
	height: $headerHeight;
	border-bottom: 1px solid $borderColor;
	background-color: $baseColor;

	display: flex;
	justify-content: space-between;
}

.item {
	padding: 8px $sideMargin;
}

.icon {
	width: 32px;
	height: 32px;
	border-radius: 100%;
}
