@import 'variables';

.loading {
	z-index: $loadingIndex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: $mainColor;

	display: flex;
	justify-content: center;

	transition: all 0.6s ease;
}

.logo {
	width: 80px;
	position: absolute;
	top: 40%;
}
