@import 'variables';

.login {
	z-index: $loginIndex;
	position: fixed;
	top: 0;
	width: 100%;
	max-width: $bodyMaxWidth;
	height: 100vh;
	background-color: $mainColor;
}

.copy {
	color: $baseColor;
	font-size: 24px;
	font-weight: 700;
}

.logo {
	width: 80px;
}
