@import 'variables';

.overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $shadowColor;
	z-index: $modalIndex;
	pointer-events: none;

	opacity: 0;
	transition: all 0.2s ease;
}

.slider {
	width: 100%;
	padding: 16px;
	border-radius: 4px;
	box-shadow: 0 0 25px $shadowColor;
	background-color: $baseColor;
}
