@use 'variables' as *;

.button {
	width: 100%;
	padding: 4px;
	background-color: $baseColor;
	border: $borderColor solid $borderWeight;
	border-radius: $inputBorderRadius;
	color: $fontColor;
	cursor: pointer;

	&:active {
		background-color: $activeColor;
	}
}
