@import 'variables';

.button {
	width: 100%;
	max-width: $bodyMaxWidth;
	padding: 4px;
	border: none;
	border-radius: $inputBorderRadius;
	background-color: $twitterColor;
	color: $baseColor;
	cursor: pointer;
	&:active {
		background-color: $activeColor;
	}
}
