@import 'variables';

.button {
	height: 32px;
	padding: 0 16px;
	background-color: $baseColor;
	border: solid $borderWeight;
	border-radius: 4px;
	border-color: $borderColor;
	color: $fontColor;
	cursor: pointer;
}
