@use 'variables' as *;

.radio {
	display: none;
	&:checked {
		+ .label {
			background-color: $activeButtonColor;
			border-color: $activeBorderColor;
		}
	}
}

.label {
	display: block;
	padding: 4px 18px;
	background-color: $baseColor;
	border: $borderColor solid $borderWeight;
	border-radius: $inputBorderRadius;
	color: $fontColor;
	white-space: nowrap;
	cursor: pointer;

	&:active {
		border-color: $hoverBorderColor !important;
	}
}
