@import 'variables';

.radio {
	display: none;
	&:checked {
		+ .label {
			background-color: $activeButtonColor;
			border-color: $activeBorderColor;
		}
	}
}

.label {
	display: block;
	padding: 4px 16px;
	background-color: $baseColor;
	border: solid $borderWeight;
	border-radius: $inputBorderRadius;
	border-color: $borderColor;
	color: $fontColor;
	white-space: nowrap;
	cursor: pointer;

	&:hover {
		border-color: $hoverBorderColor !important;
	}
}
