@import 'variables';

.grabArea {
	padding: 16px;
	&:active {
		.bar {
			background-color: $userIdColor;
		}
	}
}

.bar {
	width: 56px;
	height: 4px;
	border-radius: 2px;
	margin: 0 auto;
	background-color: $borderColor;
}
