@import 'variables';

.grabArea {
	padding: 16px;
	cursor: grab;
	&:hover {
		.bar {
			background-color: $hoverBarColor;
		}
	}
	&:active {
		.bar {
			background-color: $activeBarColor;
		}
	}
}

.bar {
	width: 56px;
	height: 4px;
	border-radius: 2px;
	margin: 0 auto;
	background-color: $barColor;
}
