@use 'variables' as *;

.container {
	position: relative;
	border: $borderColor solid $borderWeight;
	border-radius: 16px;
	display: grid;
	grid-template-rows: 36px 12px 80px;
	grid-template-columns: 128px 1fr;
	align-items: center;

	box-shadow: 0 0 4px $shadowColor;
	width: calc(100% - 8px);
	margin: 0 auto;
}

.image {
	grid-row: 1 / 4;
	grid-column: 1 / 2;
}

.title {
	grid-row: 1 / 2;
	grid-column: 2 / 3;
	overflow: hidden; /* ハミ出した部分を隠す */
	padding: 0 24px 0 8px;
	white-space: nowrap; /* 横幅のMAXに達しても改行しない */

	text-overflow: ellipsis; /* 「…」と省略 */
	-webkit-text-overflow: ellipsis; /* Safari */
	-o-text-overflow: ellipsis; /* Opera */
}

.url {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
	white-space: nowrap; /* 横幅のMAXに達しても改行しない */
	overflow: hidden; /* ハミ出した部分を隠す */
	text-overflow: ellipsis; /* 「…」と省略 */
	-webkit-text-overflow: ellipsis; /* Safari */
	-o-text-overflow: ellipsis; /* Opera */
	padding: 0 24px 0 8px;
}

.description {
	grid-row: 3 / 4;
	grid-column: 2 / 3;
}

.external {
	position: absolute;
	top: 0;
	right: 0;
}
