@import 'variables';

.head {
	height: 95px;
	padding: 8px 0;
}

.rating {
	margin-top: 8px;
}

.container {
	margin: 0;
	height: calc(100% - $headerHeight - 179px);
	overflow-y: auto;
}

.item {
	padding: 16px 0;
}

.address {
	display: flex;
	gap: 8px;
	align-items: center;
}
