@use 'variables' as *;

.slider {
	position: fixed;
	top: 0;
	width: 100%;
	max-width: $bodyMaxWidth;
	height: 200%;
	padding: 0 16px;
	border-radius: 16px 16px 0 0;
	box-shadow: 0 0 25px $shadowColor;
	background-color: $baseColor;

	transform: translateY(100%);
	transition: all 0.2s ease;
}

.children {
	height: 50%;
}
