@import 'variables';

.login {
	z-index: $loginIndex;
	position: fixed;
	top: 0;
	width: 100%;
	max-width: $bodyMaxWidth;
	height: 100vh;
	padding-top: 48px;
	background-color: $mainColor;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo {
	width: 80px;
	margin-right: 24px;
}

.copy {
	color: $baseColor;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 32px;
}

.start {
	color: $baseColor;
	font-size: 16px;
	padding: 8px;
}
