@use 'variables' as *;

.page {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: $editProfileIndex;
	background-color: $baseColor;

	transform: translateX(100%);
	opacity: 0;
	transition: all 0.3s ease;
}

.container {
	padding: 16px + $headerHeight 16px;
	max-width: $bodyMaxWidth;
	margin: 0 auto;
}

.wrapper {
	padding-bottom: 24px;
}
