@import 'variables';

.header {
	z-index: $headerIndex;
	position: fixed;
	inset: 0;
	margin: 0 auto;
	width: 100%;
	max-width: $bodyMaxWidth;
	height: $headerHeight;
	border-bottom: $borderWeight solid $borderColor;
	background-color: $baseColor;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.prev {
	cursor: pointer;
}

.save {
	padding: 10px 16px;
	cursor: pointer;
}
