$baseColor: #fff;
$mainColor: #eeb842;
$borderColor: #dbdbdb;
$fontColor: #000;
$shodowColor: rgba(0, 0, 0, 0.5);

$fontFamily: sans-serif;

$fontSize: 14px;

$loadingIndex: 5;
$loginIndex: 4;
$headerIndex: 3;
$footerIndex: 3;
$slideAreaIndex: 1;
$mapIndex: -1;

$bodyMaxWidth: 800px;
$headerHeight: 48px;
$footerHeight: 48px;
$sideMargin: 16px;
