$baseColor: #fff;

$fontFamily: sans-serif;
$fontColor: #000;
$fontSize: 14px;

$borderColor: #dbdbdb;

$loadingIndex: 5;
$headerIndex: 4;
$footerIndex: 4;
$mapIndex: -1;

$bodyMaxWidth: 800px;
$headerHeight: 48px;
$footerHeight: 48px;
$sideMargin: 16px;
