$baseColor: #fff;
$mainColor: #eeb842;
$borderColor: #ddd;
$fontColor: #000;
$userIdColor: #666;
$twitterColor: #00acee;
$shodowColor: rgba(0, 0, 0, 0.5);
$barColor: #ddd;
$hoverBarColor: #aaa;
$activeBarColor: #666;

$fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

$baseFontSize: 14px;
$smallFontSize: 12px;

$loadingIndex: 5;
$loginIndex: 4;
$headerIndex: 3;
$footerIndex: 3;
$slideAreaIndex: 1;
$mapIndex: -1;

$bodyMaxWidth: 800px;
$headerHeight: 48px;
$footerHeight: 48px;
$sideMargin: 16px;
