@import 'variables';

body {
	width: 100%;
	max-width: $bodyMaxWidth;
	margin: 0 auto;

	font-family: $fontFamily;
	font-size: $baseFontSize;
	color: $fontColor;
	line-height: $lineHeight;
	letter-spacing: $letterSpacing;
}

main {
	padding: $headerHeight 0 $footerHeight;
}

header,
div,
li,
button,
input,
label {
	box-sizing: border-box;
}

a,
button {
	font-family: $fontFamily;
	font-size: $baseFontSize;
	color: $fontColor;
	line-height: $lineHeight;
	letter-spacing: $letterSpacing;
}

a,
img {
	display: block;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
}
