@import 'variables';

body {
	width: 100%;
	max-width: $bodyMaxWidth;
	margin: 0 auto;

	font-family: $fontFamily;
	font-size: $fontSize;
	color: $fontColor;
	line-height: 2;
	letter-spacing: 1.4;
}

div {
	box-sizing: border-box;
}

a {
	display: block;
}
