@import 'variables';

body {
	width: 100%;
	max-width: $bodyMaxWidth;
	margin: 0 auto;

	font-family: $fontFamily;
	font-size: $baseFontSize;
	color: $fontColor;
	line-height: 2;
	letter-spacing: 1.4;
}

main {
	padding: $headerHeight 0 $footerHeight;
}

header,
div,
li {
	box-sizing: border-box;
}

a,
img {
	display: block;
}

ul {
	list-style: none;
	padding: 0;
}
